# Options +MultiViews
# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^([^/]+)/$ $1.html
# RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.html
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
# RewriteRule (.*)$ /$1/ [R=301,L]

Options +MultiViews
RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

ErrorDocument 404 pages/404.html

DirectoryIndex index.html

Options -Indexes

<IfModule mod_deflate.c>
   AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript
</IfModule>

<FilesMatch "\.(sql|conf|env)$">
   Order allow,deny
   Deny from all
</FilesMatch>

SetEnv TZ America/Los_Angeles

ServerSignature Off

Options -Indexes

Options -ExecCGI
