Options +MultiViews
RewriteEngine on
RewriteRule ^content-([0-9]+).html$ content.php?id=$1

ErrorDocument 404 404.html

Redirect permanent index.html home.html

DirectoryIndex home.html

SetEnv TZ Europe/London

deny from all

SetEnv TZ America/Los_Angeles

AuthType Basic
AuthName "Patrons Only"
AuthUserFile /patreon/.htpasswd
Require valid-user
